<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
    {% load static %} 
      <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
      <link rel="stylesheet" href="{% static 'bootstrap.bundle.min.js'%}">
      <link rel="stylesheet" href="{% static 'update.css'%}">
</head>
<body>
    <div class="container-fluid p-3 bg-dark text-white text-center">
        <img src="{% static 'logo.jpg'%}" width="100px" alt="">
        <h1>JKT Digital Institute</h1>
        <p>FE Exam Preparation Course</p> 
      </div>
      <div class="container mt-3">
        <h2 class="">FE Student Registeration Forms</h2>
        <p>Please Enter Your Detail Information Here!</p>
        <form action="uppdaterecord/{{ mypoll.id }}" method="post">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for=""><h6>First Name: </h6></label>
              <input type="text" class="form-control" placeholder="Enter First Name:" name="first" value="{{ mypoll.firstname }}">
            </div>
            <div class="col">
              <label for=""><h6>Last Name: </h6></label>
              <input type="text"  class="form-control" placeholder="Enter Last Name:" name="last " value="{{ mypoll.lastname }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""><h6>Father Name: </h6></label>
              <input type="text" class="form-control" placeholder="Enter Father Name:" name="father" value="{{ mypoll.fathername }}">
            </div>
            <div class="col">
              <label for=""><h6>Date of Birth: </h6></label>
              <input type="date" class="form-control" placeholder="Name" name="dob" value="{{ mypoll.dateofbirth }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""><h6>NRC No: </h6></label>
              <input type="text" class="form-control" placeholder="Enter Your NRC No:" name="nrc" value="{{ mypoll.nrcno }}">
            </div>
            <div class="col">
              <label for=""><h6>Phone No: </h6></label>
              <input type="text" class="form-control" placeholder="Enter Your Phone Number: " name="contact" value="{{ mypoll.contactno }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""><h6>Email Address: </h6></label>
              <input type="email" class="form-control" placeholder="Enter Your Email:" name="email" value="{{ mypoll.emailAddress }}">
            </div>
            <div class="col">
              <label for=""><h6>Permanent Address: </h6></label>
              <input type="text" class="form-control" placeholder="Enter Your Address:" name="address" value="{{ mypoll.pAddress }}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""><h6>Education: </h6></label>
              <input type="text" class="form-control" placeholder="Enter Your Education Level: " name="edu" value="{{ mypoll.edu }}">
            </div>
          </div>
          <div class="row"> 
              <input class="btn" type="submit" name="submit" >
          </div>
        </form>
      </div>
      <footer class="bg-dark text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://wlktech.github.io/">WLK-TECH</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>