.navbar{
    background-color: rgb(50, 50, 50);
    opacity: 70%;
}
.navbar:hover{
    opacity: 100%;
    color: white;
}
.navbar a{
    color:#fff;
}
.navbar a:hover{
    color:white;
}
.carousel-item{
    height:100vh;
    /* min-height: 300px; */
    background:no-repeat scroll center scroll;
    -webkit-backgrund-size:cover;
    background-size: cover;
}
.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom:180px;
    padding-left:100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size:50px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: red;
    color: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}
.slider-btn .btn-2{
    color: #000;
    background-color: #fff;
}