*{
    font-family:Time ;
}
@font-face {
    font-family: lobster;
    src: url(../font/Lobster-Regular.ttf);
}


.brand-name{
    position: relative;
    right: 50px;
    font-family: lobster;
}
.nav-item{
    margin-right: 15px;
}
.nav-link{
    text-transform: uppercase;
}
.nav-link i{
    font-size: 25px;
}
.count{
    position: relative;
    top: -20px;
    background-color: gray;
    color: white;
    padding: 0 4px 0 4px;
    border-radius: 50%;
}
#home{
    margin-top: 50px;
    background-color: rgb(213, 213, 213);
    height: auto;
    padding: 50px 0 50px 0;
}

.banner_text{
    margin-top: 80px;
    margin-bottom: 50px;
}
.banner_text h1{
    font-family: lobster;
    margin-bottom: 20px;
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.banner_text p{
    text-align: justify;
    animation: zoomin 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@media only screen and (max-width:1148px){
    .banner_text p{
        display: none;
    }
    .shop{
        display: none;
    }
    .banner_text{
        text-align: center;
    }
    
}
.img{
    animation: zoomin 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }

}

.shop{
    border: 1px solid darkcyan;
    margin-top: 10px;
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.shop a{
    text-decoration: none;
    color: darkcyan;
}
.underline{
    width: 100px;
    border: 3px solid rgb(17, 0, 255);
    border-radius: 30px;
    margin: auto;
}
.underline1{
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin: auto;
}
.underline2{
    width: 100%;
}
.cart{
    background-color: rgb(234, 234, 234);
    border: 1px solid darkcyan;
    border-radius: 20px;
    margin-bottom: 50px;
}
.discount{
    color: red;
    text-decoration: line-through;
}
.p_img{
    border-radius: 10px;
    box-shadow: 2px 3px 4px grey;
}
.about{
    background-image: url(../images/rose.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
}
.about .row{
    padding-top:75px;
    padding-bottom: 75px;
}
.about .row .col-xl p{
    text-transform: uppercase;
}
.about hr{
    width: 200px;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p_head{
    margin-left: 10px;
    font-size: 25px;
    
}
.package{
    margin-bottom: 50px;
}
.service{
    background-color: rgb(214, 212, 212);
    padding: 10px;

}
.service .row .col-xl{
    padding: 20px;
}
.service .row .col-xl i{
    margin: 20px;
}
footer{
    text-align: center;
}
footer ul li{
    display: inline-block;
    margin: 10px;
}
footer ul li a{
    text-decoration: none;
    color: gray;
}
footer{
    padding: 50px;
    background-color: black;
}
footer p{
    color: gray;
    margin-bottom: 30px;
}
.social a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
    margin: 30px;
}
.story{
    margin-top: 100px;
}

.about-img img{
    border-radius: 20px;
    box-shadow: 2px 3px 4px #000;
}
.material{
    margin-top: 110px;
}
.material1{
    text-transform: uppercase;
    font-weight: 500;
}
.material h3{
    font-family: lobster;
    color: rgb(255, 5, 47);
    text-shadow: 2px 3px 4px gray;
}
.product_card1{
    background-color: rgb(178, 159, 255);
    padding: 40px;
}
.product_card2{
    background-color: rgb(252, 174, 122);
    padding: 40px;
}

.product_card3{
    background-color: rgb(236, 147, 245);
    padding: 40px;
}
.blog{
    margin-top: 120px;
}
.blog h1{
    text-align: center;
}
.wed{
    background-color: lavender;
    padding: 30px;
}
.wed1{
    background-color: rgb(248, 206, 255);
    padding: 30px;
}
.wed2{
    background-color: rgb(146, 110, 96);
    padding: 30px;
    color: white;
}

.contact{
    margin-top: 90px;
    background-image: url(https://img.freepik.com/premium-vector/global-network-connection_41981-1182.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.address1 iframe{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
    margin-bottom: 50px;

}
.address{
    width: 100%;
    height: auto;
    background-color: rgb(126, 63, 3);
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black ;
}